@{
    Layout = "~/Views/Shared/_LayoutHero.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="grid__item-letter" data-blotter><span class="content__text-inner">TEST</span></div>
    </div>
    <div class="col-12">

    </div>
</div>
