<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Site_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Site_MVC.styles.css" asp-append-version="true" />
</head>
<body class="bg-light">
    <div class="min-vh-100 bg-light" id="container">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">Site_MVC</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="">
                @RenderBody()
            </main>
        </div>
        
    </div>
<footer class="border-top footer text-muted bg-dark">
    <div class="container">
        &copy; 2024 - Site_MVC - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
    
    
    <script src="~/js/grained.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/blotter.js"></script>

    <script>
        var options = {
            "animate": true,
            "patternWidth": 500,
            "patternHeight": 300,
            "grainOpacity": 0.09,
            "grainDensity": 1,
            "grainWidth": 1,
            "grainHeight": 1
        }
        grained('#container', options);
    </script>

@*     @await RenderSectionAsync("Scripts", required: false)
 *@    
</body> 
</html>