<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Site_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body class="bg-dark">
    <div class="" id="container">
        <div class="jumbotron jumbotron-fluid">
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-page="/Index">Site_MVC</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Index">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Resumé</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Projects</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="container min-vh-100">
                <main role="main" class="">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
<footer class="border-top footer text-muted bg-dark">
    <div class="container">
        &copy; 2024 - Site_MVC - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>
    
    <script src="~/js/grained/grained.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/blotter/blotter.min.js"></script>
    <script src="~/js/blotter/materials/channelSplitMaterial.js"></script>
    <script src="~/js/blotter/materials/fliesMaterial.js"></script>
    <script src="~/js/blotter/materials/liquidDistortMaterial.js"></script>
    <script src="~/js/blotter/materials/rollingDistortMaterial.js"></script>
    <script src="~/js/blotter/materials/slidingDoorMaterial.js"></script>

    <script>
        var options = {
            "animate": true,
            "patternWidth": 500,
            "patternHeight": 300,
            "grainOpacity": 0.09,
            "grainDensity": 1,
            "grainWidth": 1,
            "grainHeight": 1
        }
        grained('#container', options);
    </script>

@*     <script>
        var text = new Blotter.Text("Site_MVC", {
            family: "serif",
            size: 120,
            fill: "#171717"
        });

        var material = new Blotter.ChannelSplitMaterial();
        material.uniforms.uOffset.value = 0.10;
        material.uniforms.uRotation.value = 90;

        var blotter = new Blotter(material, {
            texts: text
        });

        var elem = document.getElementById('split');
        var scope = blotter.forText(text);

        scope.appendTo(elem);

        let oldTime = null;
        var scroll = 0;
        let speed = 300;
        let amount = 30
        let smooth = 0;
        let diff = 0;
        let delta = 0;

        $(document).on('scroll', (event) => {
            scroll = $(window).scrollTop();
        })

        const animate = (t) => {
            if (oldTime)
                delta = t - oldTime
            smooth += (scroll - smooth) * delta / speed;
            diff = scroll - smooth;

            material.uniforms.uOffset.value = Math.abs((diff * -2 / amount) / 90);

            console.log(diff * -2 / amount);

            oldTime = t;
            requestAnimationFrame(animate)
        }

        requestAnimationFrame(animate)


    </script>    
 *@</body> 
</html>